{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 3em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	
	<a href="#" class="btn btn-primary" role="button" data-bs-toggle="button">Recherche par entreprise</a>
	<h1>Bienvenue sur la page d'accueil de Prostages!</h1>
	
	
	

</div>
{% endblock %}
