{% extends 'base.html.twig' %}

{% block title %}Hello ProStageStageSpecifiqueController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Cette page affichera le descriptif du stage ayant pour identifiant {{ controller_id }}!</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/M3104/ProStage/src/Controller/ProStageStageSpecifiqueController.php'|file_link(0) }}">src/Controller/ProStageStageSpecifiqueController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/M3104/ProStage/templates/pro_stage_stage_specifique/index.html.twig'|file_link(0) }}">templates/pro_stage_stage_specifique/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
